{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>AJEC - Embajadores de cristo | Home</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/logo.jpg' %}">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>
    <!-- ##### Preloader ##### -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <!-- Line -->
        <div class="line-preloader"></div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- ***** Top Header Area ***** -->
        <div class="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex flex-wrap align-items-center justify-content-between">
                            <!-- Top Header Meta -->
                            <div class="top-header-meta d-flex flex-wrap">
                                
                                <!-- Social Info -->
                                <div class="top-social-info">
                                    <a href="https://www.facebook.com/ajec.elsalvador"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <!-- Top Header Meta -->
                            <div class="top-header-meta">
                                <a href="mailto:info.deercreative@gmail.com" class="email-address"><i class="fa fa-envelope" aria-hidden="true"></i> <span>ajec@gmail.com</span></a>
                                <a href="#" class="phone"><i class="fa fa-phone" aria-hidden="true"></i> <span>+503 2292-5658</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Top Header Area ***** -->

        <!-- ***** Navbar Area ***** -->
        <div class="crose-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="croseNav">

                        <!-- Nav brand -->
                        <a href="index.html" class="nav-brand"><img src="{% static 'img/logo.jpg' %}" id="logoH" align="center" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="{% static 'templates/index.html' %}">Home</a></li>
                                    <li><a href="#">Paginas</a>
                                        <ul class="dropdown">
                                            <li><a href="index.html">Home</a></li>
                                            <li><a href="about.html">About</a></li>
                                            <li><a href="sermons.html">Sermons</a></li>
                                            <li><a href="sermons-details.html">Sermons Details</a></li>
                                            <li><a href="events.html">Events</a></li>
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="single-post.html">Blog Details</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Menu</a>
                                        <div class="megamenu">
                                            <ul class="single-mega cn-col-4">
                                                <li><a href="index.html">Home</a></li>
                                                <li><a href="about.html">About</a></li>
                                                <li><a href="sermons.html">Sermons</a></li>
                                                <li><a href="sermons-details.html">Sermons Details</a></li>
                                                <li><a href="events.html">Events</a></li>
                                                <li><a href="blog.html">Blog</a></li>
                                                <li><a href="single-post.html">Blog Details</a></li>
                                                <li><a href="contact.html">Contact</a></li>
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li><a href="index.html">Home</a></li>
                                                <li><a href="about.html">About</a></li>
                                                <li><a href="sermons.html">Sermons</a></li>
                                                <li><a href="sermons-details.html">Sermons Details</a></li>
                                                <li><a href="events.html">Events</a></li>
                                                <li><a href="blog.html">Blog</a></li>
                                                <li><a href="single-post.html">Blog Details</a></li>
                                                <li><a href="contact.html">Contact</a></li>
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li><a href="index.html">Home</a></li>
                                                <li><a href="about.html">About</a></li>
                                                <li><a href="sermons.html">Sermons</a></li>
                                                <li><a href="sermons-details.html">Sermons Details</a></li>
                                                <li><a href="events.html">Events</a></li>
                                                <li><a href="blog.html">Blog</a></li>
                                                <li><a href="single-post.html">Blog Details</a></li>
                                                <li><a href="contact.html">Contact</a></li>
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li><a href="index.html">Home</a></li>
                                                <li><a href="about.html">About</a></li>
                                                <li><a href="sermons.html">Sermons</a></li>
                                                <li><a href="sermons-details.html">Sermons Details</a></li>
                                                <li><a href="events.html">Events</a></li>
                                                <li><a href="blog.html">Blog</a></li>
                                                <li><a href="single-post.html">Blog Details</a></li>
                                                <li><a href="contact.html">Contact</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li><a href="events.html">Eventos</a></li>
                                    <li><a href="sermons.html">Misiones</a></li>
                                    <li><a href="blog.html">Estadisticas</a></li>
                                    <li><a href="contact.html">Contacto</a></li>
                                </ul>

                                <!-- Search Button -->
                                <div id="header-search"><i class="fa fa-search" aria-hidden="true"></i></div>

                                <!-- Donate Button -->
                                <a href="#" class="btn crose-btn header-btn">Iniciar sesion</a>

                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>

            <!-- ***** Search Form Area ***** -->
            <div class="search-form-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="searchForm">
                                <form action="#" method="post">
                                    <input type="search" name="search" id="search" placeholder="Enter keywords &amp; hit enter...">
                                    <button type="submit" class="d-none"></button>
                                </form>
                                <div class="close-icon" id="searchCloseIcon"><i class="fa fa-close" aria-hidden="true"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Navbar Area ***** -->
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Hero Area Start ##### -->
    <section class="hero-area hero-post-slides owl-carousel">
        <!-- Single Hero Slide -->
        <div class="single-hero-slide bg-img bg-overlay d-flex align-items-center justify-content-center"  style="background-image: url({% static 'img/linaje.jpg' %});" id="imagenC">
            <!-- Post Content -->
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-slides-content">
                            <h2 data-animation="fadeInUp" data-delay="100ms">Ajec El Salvador</h2>
                            <p data-animation="fadeInUp" data-delay="300ms">Asociacion de jovenes embajadores de cristo</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Hero Slide -->
        <div class="single-hero-slide bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url({% static 'img/historia/3.jpg' %});">
            <!-- Post Content -->
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-slides-content">
                            <h2 data-animation="fadeInUp" data-delay="100ms">Jesus!</h2>
                            <p data-animation="fadeInUp" data-delay="300ms">In Jesus name!</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### About Area Start ##### -->
    <section class="about-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12">
                    <div class="section-heading">
                        <h2>Welcome To Ajec Cla</h2>
                        <p>Asociacion de jovenes embajadores de cristo.</p>
                    </div>
                </div>
            </div>

            <div class="row about-content justify-content-center">
                <!-- Single About Us Content -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="about-us-content mb-100">
                        <img src="{% static 'img/campamento/6.jpg' %}" alt="" id="ImagenS">
                        <div class="about-text">
                            <h4>Campamentos</h4>
                            <p>Una manera diferente de llenarse de Dios, y de convivir con toda la juventud del Cla.</p>
                            <a href="#">Leer mas <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Single About Us Content -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="about-us-content mb-100">
                        <img src="{% static 'img/historia/1.jpg' %}" alt="" id="ImagenS">
                        <div class="about-text">
                            <h4>Historia</h4>
                            <p>En 2019 se cumplen 50 años de historia para Ajec en El Salvador, Dios siempre ha estado a nuestro lado.</p>
                            <a href="#">Leer mas <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Single About Us Content -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="about-us-content mb-100">
                        <img src="{% static 'img/Misiones/5.jpg' %}" alt="" id="ImagenS">
                        <div class="about-text">
                            <h4>Misiones</h4>
                            <p>Dios creó a la Iglesia con un propósito, Adorar a Dios y con la Misión de extender un Reino de los cielos.</p>
                            <a href="#">Leer mas <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### About Area End ##### -->

    <!-- ##### Call To Action Area Start ##### -->
    <section class="call-to-action-area section-padding-100 bg-img bg-overlay" style="background-image: url({% static 'img/historia/2.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="call-to-action-content text-center">
                        <h6>Juventud ardiendo por Dios</h6>
                        <h2>Dios el centro de la juventud de El Salvador.</h2>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Call To Action Area End ##### -->

    <!-- ##### Latest Sermons Area Start ##### -->
    <section class="latest-sermons-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12">
                    <div class="section-heading">
                        <h2>Actividades anteriores</h2>
                        <p>A continuacion se presentan las ultimas actividades realizadas por Ajec El salvador</p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <!-- Single Latest Sermons -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-latest-sermons mb-100">
                        <div class="sermons-thumbnail">
                            <img src="{% static 'img/liderazgo.jpg' %}" alt="" id="image" height="300">
                            <!-- Date -->
                            <div class="sermons-date">
                                <h6><span>18</span>MAY</h6>
                            </div>
                        </div>
                        <div class="sermons-content">                            
                            <h4>Seminario de liderazgo</h4>
                            <div class="sermons-meta-data">
                                <p><i class="fa fa-user" aria-hidden="true"></i> Lugar: <span>Zonas del pais</span></p>
                                <p><i class="fa fa-tag" aria-hidden="true"></i> Categoria: <span>Seminario</span></p>
                                <p><i class="fa fa-clock-o" aria-hidden="true"></i> 18 mayo <span>3:00 pm - 5:00 pm</span></p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Latest Sermons -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-latest-sermons mb-100">
                        <div class="sermons-thumbnail">
                            <img src="{% static 'img/confort.jpg' %}" alt="" width="620" height="408" id="image" height="300">
                            <!-- Date -->
                            <div class="sermons-date"> 
                                <h6><span>15</span>JUN</h6>
                            </div>
                        </div>
                        <div class="sermons-content">
                            <div class="sermons-cata">
                                
                            </div>
                            <h4>Abandona tu zona de confort</h4>
                            <div class="sermons-meta-data">
                                <p><i class="fa fa-user" aria-hidden="true"></i> Lugar: <span>Zonas del pais</span></p>
                                <p><i class="fa fa-tag" aria-hidden="true"></i> Categoria: <span>Pre-Convencion</span></p>
                                <p><i class="fa fa-clock-o" aria-hidden="true"></i> 15 junio <span>3:00 pm - 5:00 pm</span></p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Latest Sermons -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-latest-sermons mb-100">
                        <div class="sermons-thumbnail">
                            <img src="{% static 'img/linaje.jpg' %}" alt="" height="300">
                            <!-- Date -->
                            <div class="sermons-date">
                                <h6><span>20</span>JUL</h6>
                            </div>
                        </div>
                        <div class="sermons-content">
                            <div class="sermons-cata">
                                
                            </div>
                            <h4>Linaje Santo</h4>
                            <div class="sermons-meta-data">
                                <p><i class="fa fa-user" aria-hidden="true"></i> Lugar: <span>Iglesia El Dios vivo Gotera morazan</span></p>
                                <p><i class="fa fa-tag" aria-hidden="true"></i> Categoria: <span>Convencion</span></p>
                                <p><i class="fa fa-clock-o" aria-hidden="true"></i> 20 Julio <span> 9:00 am - 12:00 pm</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Latest Sermons Area End ##### -->

    <!-- ##### Upcoming Events Area Start ##### -->
    <section class="upcoming-events-area section-padding-0-100">
        <!-- Upcoming Events Heading Area -->
        <div class="upcoming-events-heading bg-img bg-overlay bg-fixed" style="background-image: url({% static 'img/ajec.jpg' %});" width= "10" height= "100">
            <div class="container">
                <div class="row">
                    <!-- Section Heading -->
                    <div class="col-12">
                        <div class="section-heading text-left white">
                            <h2>Proximos eventos</h2>
                            <p>Proximos eventos a realizar por Ajec El salvador</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Upcoming Events Slide -->
        <div class="upcoming-events-slides-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="upcoming-slides owl-carousel">

                            <div class="single-slide">
                                <!-- Single Upcoming Events Area -->
                                <div class="single-upcoming-events-area d-flex flex-wrap align-items-center">
                                    <!-- Thumbnail -->
                                    <div class="upcoming-events-thumbnail">
                                        <img src="{% static 'img/bg-img/23.jpg' %}" alt="">
                                    </div>
                                    <!-- Content -->
                                    <div class="upcoming-events-content d-flex flex-wrap align-items-center">
                                        <div class="events-text">
                                            <h4>Taller biblico</h4>
                                            <div class="events-meta">
                                                <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> septiembre 01, 2019</a>
                                                <a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> 09:00 - 11:00</a>
                                                <a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> zonas del pais</a>
                                            </div>
                                            <p>La lectura y aprendizaje de la biblia es muy importante por lo que ajec promueve taller biblico.</p>
                                            <a href="#">Leer mas <i class="fa fa-angle-double-right"></i></a>
                                        </div>
                                        
                                    </div>
                                </div>

                                <!-- Single Upcoming Events Area -->
                                <div class="single-upcoming-events-area d-flex flex-wrap align-items-center">
                                    <!-- Thumbnail -->
                                    <div class="upcoming-events-thumbnail">
                                        <img src="{% static 'img/Trimestral/1.jpg' %}" alt="">
                                    </div>
                                    <!-- Content -->
                                    <div class="upcoming-events-content d-flex flex-wrap align-items-center">
                                        <div class="events-text">
                                            <h4>Cultura de adoracion</h4>
                                            <div class="events-meta">
                                                <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> Noviembre 15, 2019</a>
                                                <a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> 11:00 - 13:00</a>
                                                <a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> todas las zonas del pais</a>
                                            </div>
                                            <p>Dios busca adoradores que le adoren en espiritu y en verdad.</p>
                                            <a href="#">Leer mas <i class="fa fa-angle-double-right"></i></a>
                                        </div>
                                        <div class="find-out-more-btn">
                                            
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Upcoming Events Area -->
                                
                            </div>

                            <div class="single-slide">
                                <!-- Single Upcoming Events Area -->
                                <div class="single-upcoming-events-area d-flex flex-wrap align-items-center">
                                    <!-- Thumbnail -->
                                    <div class="single-upcoming-events-area d-flex flex-wrap align-items-center">
                                    <!-- Thumbnail -->
                                    <div class="upcoming-events-thumbnail">
                                        <img src="{% static 'img/bg-img/23.jpg' %}" alt="">
                                    </div>
                                    <!-- Content -->
                                    <div class="upcoming-events-content d-flex flex-wrap align-items-center">
                                        <div class="events-text">
                                            <h4>Taller biblico</h4>
                                            <div class="events-meta">
                                                <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> septiembre 01, 2019</a>
                                                <a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> 09:00 - 11:00</a>
                                                <a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> zonas del pais</a>
                                            </div>
                                            <p>La lectura y aprendizaje de la biblia es muy importante por lo que ajec promueve taller biblico.</p>
                                            <a href="#">Leer mas <i class="fa fa-angle-double-right"></i></a>
                                        </div>
                                        
                                    </div>
                                </div>


                                <!-- Single Upcoming Events Area -->
                                <div class="single-upcoming-events-area d-flex flex-wrap align-items-center">
                                    <!-- Thumbnail -->
                                    <div class="upcoming-events-thumbnail">
                                        <img src="{% static 'img/Trimestral/1.jpg' %}" alt="">
                                    </div>
                                    <!-- Content -->
                                    <div class="upcoming-events-content d-flex flex-wrap align-items-center">
                                        <div class="events-text">
                                            <h4>Cultura de adoracion</h4>
                                            <div class="events-meta">
                                                <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> Noviembre 15, 2019</a>
                                                <a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> 11:00 - 13:00</a>
                                                <a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> todas las zonas del pais</a>
                                            </div>
                                            <p>Dios busca adoradores que le adoren en espiritu y en verdad.</p>
                                            <a href="#">Leer mas <i class="fa fa-angle-double-right"></i></a>
                                        </div>
                                        <div class="find-out-more-btn">
                                            
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Upcoming Events Area -->
                               
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Upcoming Events Area End ##### -->

    <!-- ##### Gallery Area Start ##### -->
    <div class="gallery-area d-flex flex-wrap">
        <!-- Single Gallery Area -->
        <div class="single-gallery-area">
            <a href="{% static 'img/misiones/1.jpg' %}" class="gallery-img" title="Misiones">
                <img src="{% static 'img/Misiones/1.jpg' %}" alt="">
            </a>
        </div>

        <!-- Single Gallery Area -->
        <div class="single-gallery-area">
            <a href="{% static 'img/Trimestral/1.jpg' %}" class="gallery-img" title="Trimestral">
                <img src="{% static 'img/Trimestral/1.jpg' %}" alt="">
            </a>
        </div>

        <!-- Single Gallery Area -->
        <div class="single-gallery-area">
            <a href="{% static 'img/Misiones/3.jpg' %}" class="gallery-img" title="Misiones">
                <img src="{% static 'img/Misiones/3.jpg' %}" alt="">
            </a>
        </div>

        <!-- Single Gallery Area -->
        <div class="single-gallery-area">
            <a href="{% static 'img/evangelismo/5.jpg' %}" class="gallery-img" title="Evangelismo">
                <img src="{% static 'img/evangelismo/5.jpg' %}" alt="">
            </a>
        </div>

        <!-- Single Gallery Area -->
        <div class="single-gallery-area">
            <a href="{% static 'img/campamento/2.jpg' %}" class="gallery-img" title="Campamento taller">
                <img src="{% static 'img/campamento/2.jpg' %}" alt="">
            </a>
        </div>

        <!-- Single Gallery Area -->
        <div class="single-gallery-area">
            <a href="{% static 'img/Misiones/4.jpg' %}" class="gallery-img" title="Misiones">
                <img src="{% static 'img/Misiones/4.jpg' %}" alt="">
            </a>
        </div>

        <!-- Single Gallery Area -->
        <div class="single-gallery-area">
            <a href="{% static 'img/evangelismo/4.jpg' %}" class="gallery-img" title="Evangelismo">
                <img src="{% static 'img/evangelismo/4.jpg' %}" alt="">
            </a>
        </div>

        <!-- Single Gallery Area -->
        <div class="single-gallery-area">
            <a href="{% static 'img/evangelismo/2.jpg' %}" class="gallery-img" title="Evangelismo">
                <img src="{% static 'img/evangelismo/2.jpg' %}" alt="">
            </a>
        </div>

        <!-- Single Gallery Area -->
        <div class="single-gallery-area">
            <a href="{% static 'img/campamento/4.jpg' %}" class="gallery-img" title="Campamento plenaria">
                <img src="{% static 'img/campamento/4.jpg' %}" alt="">
            </a>
        </div>

        <!-- Single Gallery Area -->
        <div class="single-gallery-area">
            <a href="{% static 'img/Misiones/5.jpg' %}" class="gallery-img" title="Misiones">
                <img src="{% static 'img/Misiones/5.jpg' %}" alt="">
            </a>
        </div>
    </div>
    <!-- ##### Gallery Area End ##### -->

    <!-- ##### Blog Area Start ##### -->
    <section class="blog-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12">
                    <div class="section-heading">
                        <h2>Ultimas noticias</h2>
                        <p>Informacion sobre actividades realizadas anteriormente por Ajec</p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <!-- Single Blog Post Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-post mb-100">
                        <div class="post-thumbnail">
                            <a href="single-post.html"><img src="{% static 'img/Trimestral/9.jpg' %}" alt=""></a>
                        </div>
                        <div class="post-content">
                            <a href="single-post.html" class="post-title">
                                <h4>Primer Trimestral</h4>
                            </a>
                            <div class="post-meta d-flex">
                                
                                <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> Agosto 18, 2018</a>
                            </div>
                            <p class="post-excerpt">Primer trimestral de jovenes titulado "quitate el disfraz" basado en 1 reyes 14: 1-6.</p>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Post Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-post mb-100">
                        <div class="post-thumbnail">
                            <a href="single-post.html"><img src="{% static 'img/Trimestral/7.jpg' %}" alt=""></a>
                        </div>
                        <div class="post-content">
                            <a href="single-post.html" class="post-title">
                                <h4>Segundo Trimestral</h4>
                            </a>
                            <div class="post-meta d-flex">
                                
                                <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> Noviembre 9, 2018</a>
                            </div>
                            <p class="post-excerpt">Segundo trimestral de jovenes titulado "ropas de gala" basado en zacarias 3:1-5.</p>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Post Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-blog-post mb-100">
                        <div class="post-thumbnail">
                            <a href="single-post.html"><img src="{% static 'img/Trimestral/8.jpg' %}" alt=""></a>
                        </div>
                        <div class="post-content">
                            <a href="single-post.html" class="post-title">
                                <h4>Tercer Trimestral</h4>
                            </a>
                            <div class="post-meta d-flex">                            
                                <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> Febrero 9, 2019</a>
                            </div>
                            <p class="post-excerpt">Tercer trimestral titulado "ardiendo por Dios" basado en jeremias 20:9.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Blog Area End ##### -->

    

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <!-- Main Footer Area -->
        <div class="main-footer-area">
            <div class="container">
                <div class="row">

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-70">
                            <a href="#" class="footer-logo"><img src="{% static 'img/ajec.jpg' %}" alt="" id="imagenF"></a>
                            <p>Asociacion de Jovenes Embajadores de Cristo en El Salvador</p>
                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-70">
                            <h5 class="widget-title">Enlace Rapido</h5>
                            <nav class="footer-menu">
                                <ul>
                                    <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Home</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> paginas</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Menu</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Eventos</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Misiones</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Estadisticas</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Contacto</a></li>
                                    
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-70">
                            <h5 class="widget-title">Ultimas noticias</h5>

                            <!-- Single Latest News -->
                            <div class="single-latest-news">
                                <a href="#">Inicio de periodo 2019-2020</a>
                                <p><i class="fa fa-calendar" aria-hidden="true"></i> Julio 20, 2019</p>
                            </div>

                            <!-- Single Latest News -->
                            <div class="single-latest-news">
                                <a href="#">Trimestral </a>
                                <p><i class="fa fa-calendar" aria-hidden="true"></i> Agosto 17, 2019</p>
                            </div>

                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-70">
                            <h5 class="widget-title">Contacto</h5>

                            <div class="contact-information">
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i> El salvador</p>
                                <a href="callto:001-1234-88888"><i class="fa fa-phone" aria-hidden="true"></i>2292-5658</a>
                                <a href="mailto:info.deercreative@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i> Ajec@gmail.com</a>
                                
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Copwrite Area -->
        <div class="copywrite-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center flex-wrap">
                    <!-- Copywrite Text -->

                    <!-- Footer Social Icon -->
                    <div class="col-12 col-md-6">
                        <div class="footer-social-icon">
                            <a href="https://www.facebook.com/ajec.elsalvador"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js' %}"></script>
</body>

</html>